.button{
    background-color: #808080;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}
.submitBtn{
    padding: 3px 10px;
}
.inputSubmitDiv{
    /* border: 5px solid #FFFF00; */
    text-align: center;
    background-color: rgb(57, 204, 223)
}
.ballDivClass{
    background-color: rgb(160, 153, 153);
    /* width: 50%; */
    /* height: 50%; */
    border: 15px solid green;
    padding: 20%;
    /* margin: 20%; */
    text-align: center;
}
.displayScore{
    text-align: center;
    background-color: blue;
    padding: 8px;
}
